<div class="filter-container">
  <span>Filter: </span>

  <input (change)="onSelectedFilterRadioButtonChange()" [(ngModel)]="selectedFilterRadioButton" name="filter"
         type="radio"
         value="all"/>
  <span>{{ "All (" + All + ")" }}</span>

  <input (change)="onSelectedFilterRadioButtonChange()" [(ngModel)]="selectedFilterRadioButton" name="filter"
         type="radio"
         value="true"/>
  <span>{{ "In Stock (" + InStock + ")" }}</span>

  <input (change)="onSelectedFilterRadioButtonChange()" [(ngModel)]="selectedFilterRadioButton" name="filter"
         type="radio"
         value="false"/>
  <span>{{ "Out of Stock (" + OutOfStock + ")" }}</span>
</div>
