<div class="px-10 py-12 flex-col space-y-2">
  <img [src]="image" alt="iphone Image" class="w-48">
  <p>Name: {{name}}</p>
  <p>Price: $ {{price}}</p>
  <p>Color: {{color}}</p>
  <p>Current Stock: {{stock}}</p>
  <p>Discounted Price: $ {{getDiscountedPrice().toFixed(2)}}</p>
  <div class="flex space-x-2 items-center">
    <button (click)="decreaseProductCount()" class="px-4 py-2 border 2">-</button>
    <p class="w-3">{{itemAdded}}</p>
    <button (click)="increaseProductCount()" [disabled]="!(stock > 0)" class="px-4 py-2 border-2 cursor-pointer">
      +
    </button>
  </div>
</div>
